<div id="redirect-from-identifier-list">
  {% if nodes %}
    <p>{{ message }}</p>
    <ul>
    {% for node in nodes %}
      <li><a href="{{ node.url }}">{{ node.label }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
