<div id="media-formats-reports-report-type-form">{{ form }}</div>
  {% if show_csv_link %}
    <div id="media-formats-reports-csv_link"><a href="{{ csv_url }}">Download the CSV</a></div>
  {% endif %}
<div id="media-formats-reports-content"><canvas id="media-formats-reports-chart"></canvas></div>
